@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600;&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700;&display=swap');
@import 'reset';
@import 'variables';

html {
  font-size: 62.5%; //1rem = 10px
  @include respond(phone) {
    font-size: 50%; //1rem = 8px
  }

  @include respond(tab-port) {
    font-size: 50%; //1rem = 8px
  }

  @include respond(tab-land) {
    font-size: 56.25%; //1rem = 9px
  }
  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12px
  }
}

body {
  font-family: 'Ubuntu', Helvetica, sans-serif;
  font-size: 1.6rem;
}

.top-container {
  background-image:
    linear-gradient(to bottom, hsla(356, 100%, 66%, 0.9), hsla(355, 100%, 74%, 0.9)),
    url('/images/bg-pattern-intro.svg');
  background-size: 400% 300%;
  background-position: center center;
  background-repeat: no-repeat;
  border-bottom-left-radius: 80px;
}

.header {
  padding: 4rem 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;

  @include respond(tab-port) {
    width: 80%;
    margin: auto;
    padding: 6rem 0 12rem;
  }

  &__logo {
    width: 9rem;

    @include respond(tab-port) {
      margin-right: 4rem;
      width: 12rem;
    }
  }

  &__button-container {
    display: none;

    @include respond(tab-port) {
      display: block;
    }
  }

  &__menu {
    font-size: 1.9rem;
    display: none;

    @include respond(tab-port) {
      display: flex;
      margin-right: auto;
    }

    &__menu-item {
      @include respond(tab-port) {
        align-self: stretch;
      }

      list-style: none;
      padding-bottom: 3rem;
      padding-top: 3rem;
      border: 3px solid transparent;

      &:not(:last-child) {
        margin-right: 4rem;
      }

      @include respond(tab-port) {
        font-size: 1.6rem;
        display: flex;
        align-items: center;
        color: grey;

        &:not(:last-child) {
          margin-right: 3rem;
        }

        &:hover {
          color: black;
        }
      }
      @include respond(tab-land) {
        &:not(:last-child) {
          margin-right: 6rem;
        }
      }
    }
  }
  &__nav-container {
    display: none;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.05),
      rgba(0, 0, 0, 0.5)
    );
    position: absolute;
    height: 100vh;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    @include respond(tab-port) {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      background: none;
      position: unset;
      height: unset;
      width: 40%;
    }
  }

  &__nav-links {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    background-color: #fff;
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    padding: 3rem 1.2rem !important;
    border-radius: 5px;

    @include respond(tab-port) {
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: flex-start;
      background-color: transparent;
      position: unset;
      width: 100%;
      top: unset;
      left: unset;
      transform: translateX(0%);
      padding: 0;
    }
  }

  &__nav-item {
    padding: 0.8rem 0;
    color: black;
    font-weight: 700;
    text-decoration: none;
    text-transform: capitalize;
    margin-bottom: 1.5rem;

    &:hover {
      color: grey;
    }

    @include respond(tab-port) {
      margin-right: 2.5rem;
      transition: all 0.3s;
      padding: 0;
    }
  }
}

// Navigation for mobile
#mobile-nav {
  font-size: 3rem;
  color: white;
  @include respond(tab-port) {
    display: none;
  }
}

#mobile-extra {
  width: 100%;
  display: flex;
  flex-direction: column;

  @include respond(tab-port) {
    display: none;
  }
}

.nav-container {
  display: none;
}

.show-mobile-nav {
  display: block;
}

.no-scroll {
  height: 100vh;
  overflow: hidden;
}

.elevate-element {
  z-index: 999;
}

.hero {
  width: 80%;
  margin: auto;
  margin-top: 5rem;
  text-align: center;
  color: white;

  &__button-container {
    padding-bottom: 10rem;
  }
}

.hero p {
  margin-bottom: 6rem;
}

.hero h2 {
  font-size: 3rem;
  margin-bottom: 2rem;

  @include respond(tab-port) {
    font-size: 6rem;
  }
}

.button {
  padding: 1rem 2.5rem;
  border: none;
  border-radius: 25px;

  &__regular {
    background-color: white;
    color: $lightRed;
  }

  &__transparent {
    border: 1px solid white;
    background-color: transparent;
    color: white;
  }

  &__plain {
    background-color: transparent;
    color: white;
  }

  &__mobile-plain {
    color: black;
    background-color: transparent;
  }

  &__mobile-transition {
    background-color: $lightRed;
    color: $white;
  }
}

.second {
  width: 80%;
  margin: auto;
  margin-top: 5rem;
  text-align: center;
  margin-bottom: 15rem;

  @include respond(tab-port) {
    margin-top: 12rem;
  }

  &__button-container {
    padding-bottom: 5rem;
  }
}

.second h2 {
  font-size: 2.6rem;
  margin-bottom: 4rem;

  @include respond(tab-port) {
    font-size: 3.6rem;
  }  
}

.second-desktop-container {
  @include respond(tab-port) {
    display: flex;
  } 
}

.second__image-container {
  margin-bottom: 5rem;

  @include respond(tab-port) {
    flex: 1;
    order: 1
  } 
}

.second__text-container {
  @include respond(tab-port) {
    flex: 1;
    order: 0;
  } 

  div {
    margin-bottom: 5rem;
  }
}

.third-desktop-container {
  @include respond(tab-port) {
    display: flex;
  } 
}

.third__image-container {

  @include respond(tab-port) {
    flex: 1;
  } 
}

.third__text-container {
  @include respond(tab-port) {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
  } 
}

.third-outer {
  
  background-image:
    linear-gradient(to bottom, hsla(237, 17%, 21%, 0.9), hsla(237, 23%, 32%, 0.9)),
    url('/images/bg-pattern-circles.svg');
  background-size: 400% 300%;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  height: 500px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
}

.third {
  width: 80%;
  margin-top: -11rem;
  left: 10%;
  text-align: center;
  position: absolute;
  color: white;
}

.fourth-desktop-container {
  @include respond(tab-port) {
    display: flex;
  } 
}

.fourth__image-container {

  @include respond(tab-port) {
    flex: 1;
  } 
}

.fourth__text-container {
  @include respond(tab-port) {
    flex: 1;
  } 
}

.fourth {
  width: 80%;
  margin-top: 5rem;
  left: 10%;
  text-align: center;
  margin: auto;
}

.footer-outer {
  background-color: $veryDarkGrayBlue;
  position: relative;
  height: 675px;
  border-top-right-radius: 50px;

  @include respond(tab-port) {
    height: 375px;
  }
}
footer {
  width: 80%;
  padding-top: 5rem;
  left: 10%;
  text-align: center;
  margin: auto;
  color: white;

  @include respond(tab-port) {
    display: flex;
  } 
}

.footer-logo {
  margin: auto;
  margin-bottom: 8rem;
}

.footer-nav {
  @include respond(tab-port) {
    flex: 1;
  } 

  &__links {
    list-style: none;
  }
}

.footer-nav a {
  color: $grayishBlue;
  margin-bottom: 1rem;
  text-decoration: none;
}

.footer-nav p {
  margin-bottom: 2rem;
  margin-top: 3rem;
}

.hide {
  display: none;
}

.nav-block {
  color: black;
  margin-right: 2rem;
  position: relative;
  width: 100%;
  text-align: center;
  margin: auto;
  margin-bottom: 2rem;

  @include respond(tab-port) {
    color: white;
    margin-bottom: 0;

  }
}

.nav-products, .nav-connect, .nav-company {
  position: relative;
  background-color: $grayishBlue;
  list-style: none;
  padding: 1rem !important;
  border-radius: 4px;

  @include respond(tab-port) {
    position: absolute;
    background-color: white;
  }
}

.fa-chevron-down {
  color: $lightRed;

  @include respond(tab-port) {
    color: $white;
  }
}



.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
